extends layout

block layout-content
      div.lcol
      div.rcol
        div.rcol-content
          div.Message
            div.ar-title
              a(href="/" title="Retour") < Retour à la liste des articles
            span.Details La page que vous recherchez n'existe pas.